*{
	padding:0;
	margin:0;
}
body{
	background-color:#2E5864;
	color:#fff;
	font:15px Tahoma;
}
h1{
	font-size:20px;
	font-weight:normal;
	padding-bottom:5px;
	margin-bottom:5px;
	border-bottom:1px solid #ccc;
}
#wrapper{
	margin:10px auto;
	width:800px;
}
#wrapper #header{
	height:200px;
	background-image:url(images/header.png);
}
#wrapper canvas{
	cursor:url(images/crosshair.png) 25 25, crosshair;
	background:url(images/bg.png);
}
.hidden{
	display:none;
	width:0;
	height:0;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.article{
	padding:5px;
}